/* Webfont: Galactus-Bold */@font-face {
    font-family: 'Galactus';
    src: url('Galactus-Bold.eot'); /* IE9 Compat Modes */
    src: url('Galactus-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Galactus-Bold.woff') format('woff'), /* Modern Browsers */
         url('Galactus-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

