/* Webfont: Galactus-MediumItalic */@font-face {
    font-family: 'GalactusMed';
    src: url('Galactus-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('Galactus-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Galactus-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('Galactus-MediumItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

