/* Webfont: Galactus-ThinItalic */@font-face {
    font-family: 'GalactusThin';
    src: url('Galactus-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('Galactus-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Galactus-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('Galactus-ThinItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

